$fire-opal: hsla(4, 82%, 63%, 1);
$medium-aquamarine: hsla(147, 57%, 60%, 1);
$mint-green: hsla(100, 86%, 74%, 1);
$orange-yellow-crayola: hsla(42, 100%, 75%, 1);
$vivid-tangerine: hsla(11, 100%, 76%, 1);
$green-dark: hsla(147, 58%, 29%, 1);